# -- Symfony2 -----------------------------------------
app/cache/*
app/logs/*
vendor/*

# -- Composer -----------------------------------------
composer.phar

# -- PHPUnit ------------------------------------------
app/phpunit.xml  

# -- Editores -----------------------------------------

# sublimetext
/*.sublime-project
*.sublime-workspace

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/